# Base de Datos
DB_USER=
DB_PASSWORD=
DB_NAME=

# Seguridad Backend
JWT_SECRET=JAAESTOESTADEPRUEBAAQUI
# URLs Locales
# El frontend necesita apuntar al localhost expuesto
FRONTEND_API_URL=

# El simulador vive ADENTRO de la red de Docker, así que apunta al nombre del contenedor
SIMULADOR_API_URL=